.inline-div {
    /* display: inline-block; */
    float: left;
    color: brown;
    background-color: chartreuse;
} 
.folium-map{ 
    /* display: inline-block; */
    float: left;
}

.form-group {
    margin-top: 10px;
    float: left;
}